Source: tinymux
Section: games
Priority: optional
Maintainer: Ervin Hearn III <noltar@korongil.net>
Build-Depends: debhelper (>= 5), binutils(>= 2.17)
Standards-Version: 3.7.2

Package: tinymux
Architecture: any
Depends: ${shlibs:Depends}
Description: text-based multi-user virtual world server
 This is the TinyMUX flavor of mud servers of the MUSH branch. It
 provides a number of robust features to enable players to extend
 the virtual world. This is done by building new rooms and objects,
 and utilizing its internal programming language, MUSHcode.
 .
 TinyMUX doesn't provide the superset of features available in other
 MUSH flavors, but those it does implement provide a stable and
 robust environment that performs as well or better than that of its
 peers.
