Source: tinymux
Section: games
Priority: optional
Maintainer: Ervin Hearn III <noltar@korongil.net>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 4.0.0), binutils (>= 2.12.90 )
Standards-Version: 3.8.0
Vcs-Svn: http://tinymux.googlecode.com/svn/trunk/
Vcs-Browser: http://code.google.com/p/tinymux/source/browse/trunk
Homepage: http://www.tinymux.org/

Package: tinymux
Architecture: any
Depends: ${shlibs:Depends}
Description: text-based multi-user virtual world server
 This is the TinyMUX flavor of mud servers of the MUSH branch. It
 provides a number of robust features to enable players to extend
 the virtual world. This is done by building new rooms and objects,
 and utilizing its internal programming language, MUSHcode.
 .
 TinyMUX does not provide a superset of all the features available in
 other MUSH flavors, but those it does implement provide a stable and
 robust environment that performs as well or better than that of its
 peers.
