Source: tinymux
Section: games
Priority: optional
Maintainer: Stephen Dennis <brazilofmux@gmail.com>
Build-Depends: debhelper (>= 10.7.2)
Standards-Version: 4.0.1
Vcs-Git: https://github.com/brazilofmux/tinymux.git
Vcs-Browser: https://github.com/brazilofmux/tinymux
Homepage: http://www.tinymux.org/

Package: tinymux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: text-based multi-user virtual world server
 This is the TinyMUX flavor of mud servers of the MUSH branch. It
 provides a number of robust features to enable players to extend
 the virtual world. This is done by building new rooms and objects,
 and utilizing its internal programming language, MUSHcode.
 .
 TinyMUX does not provide a superset of all the features available in
 other MUSH flavors, but those it does implement provide a stable and
 robust environment that performs as well or better than that of its
 peers.
