# mux.config - constants for mux shell scripts
#
# NOTE: GAMENAME and DATA here must agree with the settings in your
# $GAMENAME.conf file. The ./Startmux and ./Backup scripts depend on
# this assumption.
#
BIN=./bin
TEXT=./text
DATA=./data
#LOGDIR=.
GAMENAME=netmux
OWNER=mux_admin@your_site.your_domain
PIDFILE=$GAMENAME.pid
