#	mux.config - constants for mux shell scripts
#
#	Change these variables as appropriate
#
BIN=./bin
TEXT=./text
DATA=./data
GAMENAME=netmux
OWNER=mux_admin@your_site.your_domain
#	If you use compression, uncomment this and put the extension here.
#
#COMPRESSION=.gz
#
#	You should never need to change these.
#
NEW_DB=$GAMENAME.db.new$COMPRESSION
INPUT_DB=$GAMENAME.db$COMPRESSION
GDBM_DB=$GAMENAME
CRASH_DB=$GAMENAME.db.CRASH
SAVE_DB=$GAMENAME.db.old$COMPRESSION
PIDFILE=$GAMENAME.pid
